<div style="border:5px solid blue;border-radius: 10px">
  <h1>Products List</h1>
  <div style="border:2px solid black;border-radius:5px;display:inline-block;margin:5px;padding:10px" *ngFor="let product of products">
    <div *ngIf="product.imgUrl"><img height="200px" [src]="product.imgUrl" alt="image of {{product.title}}"></div>
    <h5>{{product.title}}</h5>
    <h5>${{product.price}}</h5>
    <button (click)="goEdit(product._id)">Edit</button>
    <button (click)="deleteProduct(product._id)">Delete</button>
  </div>
</div>